.navbar{
    width: 100%;
    background: rgb(15,64,80);    
    padding-top: 30px;
}

.navbar__menus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.items{
    display: flex;
    gap: 50px;
}

.navbar__item{
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 21.78px;
color: rgba(161, 181, 187, 1);
transition: .7s;

    &:hover{
        cursor: pointer;
        color: rgba(255, 166, 58, 1);
    }
}

.button{
padding: 15px 34px;
border-radius: 25px;
background: rgba(20, 94, 118, 1);
font-weight: 700;
font-size: 18px;
color: rgb(255,255,255,1);
border: none;
}

.sidebar{
    position: fixed;
    top: 0;
    transition: .7s;
    width: 300px;
    height: 100%;
    background: rgb(104, 126, 148);
    left: -300px;
    opacity: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar.show{
    left: 0;
}